.todo-list {
    &__item {
        margin-bottom: 15px;
        padding: 10px;
        list-style-type: none;
        border: 3px solid white;
        border-radius: 10px;
        background-color: wheat;
    }

    &__item--disabled {
        opacity: 0.5;
    }


    &__todo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__button {
        font-size: 16px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: all 100ms ease-in-out;
    }

    &__title {
        flex-grow: 1;
        margin: 0;
    }

    &__button--delete:hover {
        background-color: red;
        color: white;
        transform: scale(1.1);
    }

    &__button--edit:hover {
        background-color: orange;
        color: white;
        transform: scale(1.1);
    }

    &__button--append:hover {
        background-color: green;
        color: white;
        transform: scale(1.1);
    }

    &__button--submit:hover {
        background-color: lightgreen;
        color: white;
        transform: scale(1.1);
    }
}

@media (max-width: 576px) {
    .todo-list__item {
        padding: 6px;
        margin-bottom: 10px;
    }

    .todo-list__todo {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .todo-list__button {
        font-size: 12px;
        padding: 3px 6px;
        width: 100%;
    }

    .todo-list__title {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .todo-list__item {
        padding: 8px;
    }

    .todo-list__button {
        font-size: 14px;
        padding: 4px 8px;
    }


}